<div class='container mx-auto content-center w-6/12'>
    <app-app-header></app-app-header>
    <div class='flex flex-col px-5 py-5'>
        <form [formGroup]="boardConfig" class="flex flex-col">
          <mat-form-field>
            <mat-label>Board Length</mat-label>
            <input matInput type="number" name="boardLength" id="board-length" formControlName="y">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Board Width</mat-label>
            <input matInput type="number" name="boardWidth" id="board-width" formControlName="x">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Bombs</mat-label>
            <input matInput type="number" name="bombAmount" id="bomb-amount" formControlName="bombs">
          </mat-form-field>
            <button mat-raised-button (click)="onButtonClicked()">Start Sweeping</button>
        </form>
      </div>
  </div>